*.o
*.so
*.a
*.pinfo
/b2
/bjam
/b2.exe
/bjam.exe
/bootstrap.log
/project-config.jam
/bin.v2/
/tools/build/v2/engine/bin.*/
/tools/build/v2/engine/bootstrap/
*.out
*.swp
*.o
*.a
*.so
*.pinfo
*.gcno
.cproject
.project
